@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
#### Text
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)
#### Gradient
Background gradient:
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)
### Neutral
#### Text
- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)
#### Dividers
- Light grayish blue: hsl(240, 5%, 91%)
*/
body {
  background: linear-gradient(to bottom, #af67e9, #6565e7);
}

main {
  background: white;
  margin: 39.5% 6.5% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
  font-family: Kumbh Sans;
}
main > div {
  background: url("../img/illustration-woman-online-mobile.svg") center/cover no-repeat;
  width: 240px;
  height: 181px;
  position: absolute;
  top: 40px;
}
main > div #bgPatternMobile {
  position: absolute;
  top: 109px;
}
main .faqContainer {
  padding: 39% 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
}
main .faqContainer h1 {
  text-align: center;
  font-size: 4.8vh;
  padding: 0 0 5% 0;
}

.accordion {
  padding: 0 0 10% 0;
}
.accordion input {
  display: none;
}
.accordion label {
  display: inline-block;
  padding: 10px 51px 6px 32px;
  margin: 0 0px 1px 0px;
  cursor: pointer;
  transition: ease 0.5s;
  font-size: 2.2vh;
  color: #58575f;
  position: relative;
  width: 340px;
}
.accordion label:after {
  content: url("../img/icon-arrow-down.svg");
  position: absolute;
  right: 40px;
  top: 10px;
}
.accordion .content {
  padding: 0px 32px 0 30px;
  margin: 0px 0 1px 0;
  margin: 0 auto;
}
.accordion .content p {
  font-size: 2vh;
  color: #58575f;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

input:checked + label {
  font-weight: bolder;
  color: #050412;
}

input:checked + label::after {
  content: url("../img/svg.svg");
  right: 40px;
  top: 10px;
}

.divider {
  width: 275px;
  height: 11px;
  margin: 0% auto 1.5%;
  border-bottom: 1px solid #e8e8e8;
}

@media only screen and (min-width: 1440px) {
  .imgContainerMobile {
    display: none;
  }

  body {
    min-height: auto;
  }

  main {
    padding: 0;
    margin: 9% 16.5% 20% 19.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 510px;
  }
  main > div {
    background: url("../img/illustration-woman-online-mobile.svg") center/cover no-repeat;
    width: 420px;
    height: 315px;
    position: static;
  }
  main .faqContainer {
    margin: 0%;
    padding: 0% 0 0 0;
  }
  main .faqContainer h1 {
    text-align: left;
    margin: 2% 0 2% 3.5%;
    font-size: 4vh;
    color: #181629;
  }
  main .accordion label {
    margin: 0% 3% 0 -3%;
    padding: 0px 0 12px 30px;
    font-size: 2vh;
  }
  main .accordion label:after {
    right: -25px;
    top: 0px;
  }
  main .accordion label:hover {
    color: #e3ada7;
  }
  main .accordion .content p {
    font-size: 1.8vh;
    width: 80%;
    margin: 1% 0 1% 0;
  }

  input:checked + label::after {
    right: -25px;
    top: 0px;
  }

  .divider {
    width: 325px;
    height: 5px;
    margin: 0% 0 3% 8%;
    border-bottom: 1px solid #e8e8e8;
  }
}

/*# sourceMappingURL=style.css.map */
